
/* Small screens */
@media only screen {
	/*.row {max-width:72.5rem} */
	h1 {font-weight: normal;}
	img {max-width: 100%; height:auto}

	.products-sidebar h3 {font-weight: bold; font-size:18px; margin-bottom:10px; margin-top:9px;}
	.products-sidebar ul.categories {list-style: none; margin-left: 0; margin-bottom: 30px;}
	.products-sidebar ul.categories li {list-style: none; margin-left: 0; border-bottom: 1px solid #f0f0f0}
	.products-sidebar ul.categories li a {display: block; color:#6a6a6a; font-size: 13px; padding:7px 0}
	.products-sidebar ul.categories li a:hover {color:#898989; padding-left: 15px;}
		.product-page ul.more-info {margin-bottom: 20px;}
	.products-sidebar ul.links li, .products-sidebar ul.more-info li {font-size: 13px; }	
	.products-sidebar ul.links li a {color:#6a6a6a;}
	.products-sidebar ul.links li a:hover {color:#898989;}
	.button.tiny {padding-top:11px}
	.productlist h1 {color:#6b6b6b; font-weight: bold; margin: 0; -webkit-border-radius:3px; border-radius: 3px; line-height:40px; font-size: 18px; background-color: #ececec; text-align: center; margin-top:30px;}
	.productlist h1:first-child {margin-top:0}
	.product {overflow: hidden; padding:15px 0; text-align: center; border-bottom: 1px solid #f0f0f0;}
	.products-sidebar select {border-color:#e3e3e3; margin: 6px 0}
	.close-filter {font-size:12px; margin-top:15px; cursor: pointer}
	.show-filters {background: white; color: #6a6a6a; border:1px solid #e3e3e3}
	.show-filters:hover { border:1px solid #0992c9; color: white; background: #0992c9}
	.product-description h2 a {color: #6b6b6b;}
	.product-description h2 {font-weight: bold; font-size: 24px; margin:0;}
	.product-description h2 a:hover {color: #4984AE;}
	.product-description p {font-size: 14px; margin-top:10px; font-weight: 400;  }
	.product-info .price {font-size: 22px; font-weight: bold; color:#6b6b6b; margin-top:10px;}
	.product-img {padding:10px;}
	.product-info .compare img {cursor: pointer; width: 19px; }
	.product-img a:hover {opacity: 0.8}
	.product-table, .performance-table {margin-bottom: 20px}
	.product-table tr, .performance-table tr {border-bottom: 1px solid #e2e2e2;}
	.product-table tr:nth-child(odd) {background: #f9f9f9} 
	.product-table thead tr {background: none !important; border-top: 1px solid #e2e2e2;}
	.product-table tr td, .product-table tr th, .performance-table tr td, .performance-table tr th {font-size: 12px; padding:6px 8px}
	.performance-table thead tr {border-top: 1px solid #e2e2e2}
	.performance-table thead td, .performance-table thead th {background: #f9f9f9}
	.product-table tr td:first-child {width:180px;}
	.product-page h1 {font-size:28px; margin-top:20px;}
	.products-sidebar a:hover img {opacity: 0.8;}
	.products-sidebar a img {opacity: 1; transition: all 0.5s; -webkit-transform: translateZ(0);}
	p.product-full-descr {margin-bottom: 60px;}
	.mini-pics a {display: block; margin-top:20px; padding: 15px}
	.table-wrapper {overflow-x: auto; }
	.related-product {margin-top:3px !important;}
	.related-product h6 {margin:8px 0 0 0; font-family: "Open Sans", sans-serif; font-weight: bold;}
	.related-product p {margin:0;}
	.related-products li {padding-bottom: 0 !important}

	.loader { border: 4px solid #f3f3f3; border-radius: 50%; border-top: 4px solid #3498db; width: 200px !important; height: 200px !important; margin: auto; margin-top: 10em; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite;}
	@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); }}
	@keyframes spin {0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}    

	.products-sidebar label {font-size:12px}
	.products-sidebar input[type="checkbox"], .products-sidebar input[type="radio"] {margin-bottom: 0; display: block; float: left; margin-top:2px; margin-right:10px}
	.filtering-list {margin-left:0; list-style: none; margin-bottom: 20px;}
	.filtering-list label { display: block !important}
	.filtering-list li {padding: 7px 0; border-bottom: 1px solid #f0f0f0; font-size: 12px; line-height: 14px;}
	.filtering-title {font-size: 14px; font-weight: bold;}
	.filter-group {margin-top:10px; margin-bottom: 10px;}
	[class*="block-grid-"] {    margin: 0 -0.125rem;}
	[class*="block-grid-"] > li {padding: 0 0.125rem 1.25rem;}
	.included-parts {font-size: 13px; text-align: center; margin-bottom: 10px}
		.included-parts a img {width: 80px; margin-bottom: 5px;}
	.included-parts li {padding-bottom: 0;}
	.meta-test {font-size:11px; margin-left: 13px;}
	.ui-slider { margin: 8px 8px 20px 8px;}	
	.product-table .different td {font-weight: bold; color: #2F5B7B}
	.breadcrumbs { background-color: white; margin-bottom:30px; padding-left:2px; border: 0; border-bottom: 1px solid #e6e6e6}
	.breadcrumbs > *.current a {color:#a5a5a5; text-decoration: none !important}
	.breadcrumbs a {text-decoration: none !important}
	.link-bar {border-bottom: 1px solid #e2e2e2; border-top: 1px solid #e2e2e2; overflow: auto; margin-top:20px;}
	.important-links { list-style: none; margin-left: 0; margin-bottom: 0;} 
	.important-links li {display: inline-block; margin-right: 18px;} 
	.important-links li a {font-size:12px; color:#6a6a6a; display: block; padding: 10px 0 8px 0;} 
	.important-links li a:hover {opacity:0.8} 
	.important-links img {width:16px; margin-right:4px; margin-top:-2px}
	.new-bdg {margin-left: 7px; margin-top:7px; padding: 1px 3px; border-radius: 3px; font-weight: normal; background: #088fc7; position: absolute; font-size: 10px; color: white;}
	.remove-compare {position: absolute; top:0; right:0; line-height: 0; margin-right:3px;}
	.remove-compare img { width: 14px;}
	.compare .columns {padding:7px !important; }
	.ui-state-default, .ui-widget-content .ui-state-default {background: #94abb7; border: 1px solid #94abb7; cursor:pointer}
	.ui-widget-header {background: #eaeaea}
	.ui-widget.ui-widget-content {border:1px solid #e3e3e3}
	.rlabel {margin-bottom: 0.5em; margin-top: 0.9em;}
	#resetfilter {color:#7d7d7d}
	#resetfilter:hover {color:white}
	.main-pic-holder {display: table; width: 100%;}
	.mainPic a {display: table-cell; vertical-align: middle; text-align: center; max-height: 720px; max-width: 720px;}
	.mainPic a img {max-height: 720px; }
		#sidebar::-webkit-scrollbar { display: none;}
	.clienSubTabs.rbTabs {margin-top:20px; margin-bottom: 10px !important}
	.downloads {list-style: none; width:100%; margin:0;}

	.downloads li  {padding: 0;}
	.sales-questions {background: white; color: #757575; border: 1px solid #c7c7c7;  width: 100%;}
	.sales-questions:hover {border-color: #0775a1;}    
	.downloadObject {border: 1px solid #dfdfdf; overflow: hidden; padding:15px; margin-bottom: -1px;}
	.downloadObject span {font-family: "Open Sans", arial, sans-serif; font-size: 14px; font-weight:bold; padding-top:3px;}
	.downloadObject a {margin-bottom: 0; padding: 7px 25px !important; height:auto !important;  min-width: 150px;}
.myth{display: block; width: 100%; background-size:contain !important;  height:140px; opacity: 1; transition: opacity .2s}
.myth:hover{opacity:0.8;}
.mythHolder{padding:1px !important;}
.product-page h2{font-size:22px;}
.tabs-content>.content{padding-top:0;}
.tabs-content>.content.nm{padding:.9375rem 0}

.productMainImage{background:url('../../img/mt/v2/head/hex2.jpg') no-repeat center;height:260px;background-size:cover !important;overflow:hidden;padding-left:20px;padding-right:20px;display:table-cell;vertical-align:middle;}
.productMainTitle,.productMainDescr{color:white;display:block;font-family:"Open sans",arial,sans-serif;font-weight:300}
.productMainTitle{font-size:28px;}
.productMainDescr{font-size:12px;width:100%}

.title-img{display:table;width:100%;height:100%;margin-bottom:40px;}
.title-img2{margin-bottom:40px;}

.productMainImageWrap{background-color:#2a3850;height:260px;width:100%;}
.productMainImage2{height:260px;width:100%;opacity:0.7;background-size:cover !important;}
.productTitleWrap {height:260px;width:100%;box-sizing:border-box;display:table;margin-top:-260px;position:relative;}
.productTitleTextWrap{margin-top:-260px;display:table-cell;vertical-align:middle;padding:0 20px;}

.matrixTable th {height: 240px; white-space: nowrap; cursor:pointer;}
.matrixTable th > div {-webkit-transform:translate(0, 94px) rotate(270deg); -ms-transform:translate(0, 94px) rotate(270deg); transform:translate(0, 94px) rotate(270deg); width: 24px;}
.fullScreen .matrixTable th > div {width: 4px;}
.matrixTable tbody tr:hover {background: #f5f5f5}
.matrixTable td.na {background: #ffeded}
#matrix {overflow-x:scroll}
.fullScreen {width: 100%; height:100%;  position: fixed; top: 0; left: 0; z-index:1500; overflow-x:hidden !important;}
.efs {position: fixed; top:10px; right: 25px; width: 100px; height: 30px; background: #f44242; border-radius: 3px; z-index: 1502; display: none; text-align:center; line-height: 30px; color: white; font-size: 12px; padding:0 6px}
.efs:hover {color:white; background: #b72828}
.fullScreen table td, .fullScreen table th {  width:64px !important; overflow: hidden }
.fullScreen table {table-layout: fixed; display: table; width: 100%; height: 100%; }
.fullScreen table thead {position: fixed; width: calc( 100% - 16px); height: 240px; display: table;}
.fullScreen table tbody:before {content: "-"; display: block; line-height: 240px;color: transparent;}        
    
 #imagelightbox-close
{width: 2.5em; height: 2.5em; text-align: left; background-color: #666; border-radius: 50%; position: fixed; z-index: 10002; top: 2.5em; right: 2.5em; padding: 0 0 0 0 !important; -webkit-transition: color .3s ease;transition: color .3s ease;}
.line {stroke: #FF0000 !important; fill: #FFF;}
circle { stroke: #666 !important; fill: transparent !important;}
tr.spacer th {padding-top: 3em !important; padding-bottom:10px !important;}
} /* Define mobile styles */

/* Medium screens */
@media only screen and (min-width: 48.063em) {

.productMainImage {padding-left: 40px}
.productMainTitle {font-size: 48px;}
.productMainDescr {font-size: 14px; width: 50%}   
.productTitleTextWrap {padding: 0 40px}
.productMainImage2 {opacity: 1}
.fullScreen .matrixTable th > div {width:12px}
.sales-questions {width: auto;}

.mainPic a { max-height: none; max-width: none; height: 235px;}
.mainPic a img {max-height: 235px }
.product-page h1 {margin-top:0;}

	/*
	.contain-to-grid .top-bar {max-width:72.5rem}
	*/
	.mini-pics a { margin-top:10px; padding: 4px}
	.productlist h1 { padding-left: 10px; margin: 30px 0 10px 0;  font-size: 18px; text-align: left}
	.productlist h1:first-child { margin: 0 0 10px 0;}
	.products-sidebar {padding-right: 40px;}
	.product {border-bottom: 1px solid #f0f0f0;  text-align: left}
	.product-img {text-align: center; padding:0 5px; float: left; width: 20%;}
	.product-img img { max-width: 140px; width: 100%}
	.product-description {float:left; padding:15px 0 15px 10px; width:55%;}
	.product-description h2 {font-size: 18px;}
	.product-description p {font-size: 10px; margin-bottom: 0; line-height: 14px;}
	.product-info {float: left; width: 25%;}
	.product-info .price {float: left; font-size: 14px; text-align: right; width: 55%;}
	.product-info .compare {float: left;  text-align: center; width: 45%}	
	.product-info .price, .product-info .compare {margin-top:57px;}
	.product-info .price {margin-top:53px;}
	.product-table tr td:first-child {width:282px;}
	.link-bar {border-bottom: 1px solid #e2e2e2; border-top: 1px solid #e2e2e2; overflow: auto;}
	.clienSubTabs.rbTabs {margin-top:30px; margin-bottom: 15xpx !important}
	.clienSubTabs.rbTabs .tab-title>a {-webkit-border-radius:0; border-radius: 0; margin:0; border-right:0; min-width: 150px; text-align: center}
	.clienSubTabs.rbTabs .tab-title>a i {font-size:12px; padding-right: 3px;}
	.clienSubTabs.rbTabs .tab-title:last-child>a { border-right: 1px solid #CCC;}
.compareobj {display: none}

} /* min-width 641px, medium screens */

@media only screen and (min-width: 850px) {
	.product-img img { margin:0 5px;}
	.product-description { padding:15px 0 15px 20px;}
	.product-description h2 {font-size: 22px;}
	.product-description p {font-size: 13px; margin-top:10px; line-height: 18px;}
	.product-info .price {font-size: 15px; padding-right: 3px;}
}

@media only screen and (min-width:90.063em){
	.fullScreen .matrixTable th > div {width:24px}
}

#imagelightbox{
	cursor: pointer !important;
	position: fixed !important;
	z-index: 10000 !important;

	-ms-touch-action: none;
	touch-action: none;

	-webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ) !important; /* 50 */
	box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ) !important; /* 50 */
}

/* ACTIVITY INDICATION */
#imagelightbox-loading,
#imagelightbox-loading div{
	border-radius: 50% !important;
}
#imagelightbox-loading{
	width: 2.5em !important; /* 40 */
	height: 2.5em !important; /* 40 */
	background-color: #444 !important;
	background-color: rgba( 0, 0, 0, .5 ) !important;
	position: fixed !important;
	z-index: 10003 !important;
	top: 50% !important;
	left: 50% !important;
	padding: 0.625em; /* 10 */
	margin: -1.25em 0 0 -1.25em; /* 20 */

	-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
	box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}
#imagelightbox-loading div{
	width: 1.25em; /* 20 */
	height: 1.25em; /* 20 */
	background-color: #fff;
	-webkit-animation: imagelightbox-loading .5s ease infinite;
	animation: imagelightbox-loading .5s ease infinite;
}
@-webkit-keyframes imagelightbox-loading{
	from { opacity: .5;	-webkit-transform: scale( .75 ); }
	50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
	to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
}
@keyframes imagelightbox-loading{
	from { opacity: .5;	transform: scale( .75 ); }
	50%	 { opacity: 1;	transform: scale( 1 ); }
	to	 { opacity: .5;	transform: scale( .75 ); }
}

/* OVERLAY */
#imagelightbox-overlay{
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .9 );
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* "CLOSE" BUTTON */
#imagelightbox-close{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	text-align: left;
	background-color: #666;
	border-radius: 50%;
	position: fixed;
	z-index: 10002;
	top: 2.5em; /* 40 */
	right: 2.5em; /* 40 */
	padding: 0 0 0 0 !important;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}
#imagelightbox-close:hover,
#imagelightbox-close:focus { background-color: #111; }

#imagelightbox-close:before,
#imagelightbox-close:after{
	width: 2px;
	background-color: #fff;
	content: '';
	position: absolute;
	top: 20%;
	bottom: 20%;
	left: 50%;
	margin-left: -1px;
}
			#imagelightbox-close:before
			{
				-webkit-transform: rotate( 45deg );
				-ms-transform: rotate( 45deg );
				transform: rotate( 45deg );
			}
			#imagelightbox-close:after
			{
				-webkit-transform: rotate( -45deg );
				-ms-transform: rotate( -45deg );
				transform: rotate( -45deg );
			}

		/* CAPTION */

		#imagelightbox-caption
		{
			text-align: center;
			color: #fff;
			background-color: #666;
			position: fixed;
			z-index: 10001;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 0.625em; /* 10 */
		}

		/* NAVIGATION */

		#imagelightbox-nav
		{
			background-color: #444;
			background-color: rgba( 0, 0, 0, .5 );
			border-radius: 20px;
			position: fixed;
			z-index: 10001;
			left: 50%;
			bottom: 3.75em; /* 60 */
			padding: 0.313em; /* 5 */

			-webkit-transform: translateX( -50% );
			-ms-transform: translateX( -50% );
			transform: translateX( -50% );
		}
			#imagelightbox-nav button
			{
				width: 1em; /* 20 */
				height: 1em; /* 20 */
				background-color: transparent;
				border: 1px solid #fff;
				border-radius: 50%;
				display: inline-block;
				margin: 0 0.313em; /* 5 */
			}
			#imagelightbox-nav button.active
			{
				background-color: #fff;
			}

		/* ARROWS */

		.imagelightbox-arrow
		{
			width: 3.75em; /* 60 */
			height: 7.5em; /* 120 */
			background-color: #444;
			background-color: rgba( 0, 0, 0, .5 );
			vertical-align: middle;
			display: none;
			position: fixed;
			z-index: 10001;
			top: 50%;
			margin-top: -3.75em; /* 60 */
		}
		.imagelightbox-arrow:hover,
		.imagelightbox-arrow:focus	{ background-color: rgba( 0, 0, 0, .75 ); }
		.imagelightbox-arrow:active { background-color: #111; }

			.imagelightbox-arrow-left	{ left: 2.5em; /* 40 */ }
			.imagelightbox-arrow-right	{ right: 2.5em; /* 40 */ }

			.imagelightbox-arrow:before
			{
				width: 0;
				height: 0;
				border: 1em solid transparent;
				content: '';
				display: inline-block;
				margin-bottom: -0.125em; /* 2 */
			}
				.imagelightbox-arrow-left:before
				{
					border-left: none;
					border-right-color: #fff;
					margin-left: -0.313em; /* 5 */
				}
				.imagelightbox-arrow-right:before
				{
					border-right: none;
					border-left-color: #fff;
					margin-right: -0.313em; /* 5 */
				}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
-webkit-animation:fade-in .25s linear;
animation:fade-in .25s linear;
}
@-webkit-keyframes fade-in{
from{ opacity: 0; }
to{ opacity: 1; }
}
@keyframes fade-in{
from{ opacity: 0; }
to{ opacity: 1; }
}

@media only screen and (max-width: 41.250em) /* 660 */
{
#container{width:100%;}
#imagelightbox-close{top:1.25em;/* 20 */right:1.25em;/* 20 */}
#imagelightbox-nav{bottom:1.25em;/* 20 */}
.imagelightbox-arrow{width:2.5em;/* 40 */height:3.75em;/* 60 */margin-top:-2.75em;/* 30 */}
.imagelightbox-arrow-left{left:1.25em;/* 20 */}
.imagelightbox-arrow-right{right:1.25em;/* 20 */}
}
@media only screen and (max-width: 20em) /* 320 */
{
.imagelightbox-arrow-left{left:0;}
.imagelightbox-arrow-right{right:0;}
}
